<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Barber King</title>
    <link rel="stylesheet" type="text/css" href="style.css">

    <style type="text/css">
        A:link { COLOR: gold; TEXT-DECORATION: none; font-weight: normal }
        A:visited { COLOR: grey; TEXT-DECORATION: none; font-weight: normal }
        A:hover { COLOR: white; TEXT-DECORATION: none; font-weight: normal }
    </style>
</head>
<body style="background-color:black;">


<table style="color: white; width:100%">
    <tr>
        &nbsp;
    </tr>
    <tr style="font-family: Times New Roman;">
        <th><a href = "/home">Home - There's no place like home</a></th>
        <th><a href = "/reservations">Reservations - You are HERE</a></th>
        <th><a href = "/contact">Contact - let's keep in touch</a></th>
    </tr>
    <tr>
        &nbsp;
    </tr>

    <tr>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
        <td>&nbsp</td>
    </tr>


    <tr>
        <td style = "text-align: center" colspan="1">
            <h2 >Spectacular. Authentic.</h2>
            <h1 style="text-align:right;">YOU &nbsp</h1>
            <h4 style="text-align:right;">ONE of a KIND &nbsp &nbsp</h4>
        </td>
        <td style = "text-align: center" colspan="1" >
            <img src="../static/images/barberKing.jpg" th:src="@{images/barberKing.jpg}">
        </td>
    </tr>
    <tr>
        <td>&nbsp</td>
        <td>&nbsp</td>
    </tr>

    <tr>
        <td colspan="1" style = "text-align: center">
            <p id="demo" onmouseover="grey()" onmouseout="white()"><b><a href = "https://www.thebeardstruggle.com/blogs/beard-blog/4-steps-to-the-perfect-beard-barber">
                Chose your Barber |</a></b></p>
        </td>
        <td colspan="1" style = "text-align: center">
            <p><b><a href = "https://freshbeards.com/blogs/the-bearded-word/the-modern-man-s-beard-style-guide">
                | Chose your Style</a></b></p>
        </td>
    </tr>



</table>



</body>
</html>