<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">

</head>
<body>
<header>
    <div>
        <h3>BarberShop reservation page</h3>
    </div>
</header>


<form action="/reservations/addReservations" method="post">
    Name: <br>
    <input type ="text" name = "client_name" value = "Name"/>
    <br>
    Email:<br>
    <input type ="text" name="client_email" value = "Email"/>
    <br>
    Day:<br>
    <input type ="date" name="reservation_day" value = "Day"/>
    <br>
    Hour:<br>
    <input type ="time" name="reservation_hour" value = "Hour"/>
    <br>
    Contact Number:<br>
    <input type = "number" name = "client_mobile" value = "Mobile"/>
    <br>
    Select Location:<br>
    <select name = "location">
        <option type ="text" value = "Bucuresti">Bucuresti</option>
        <option type ="text" value="Sibiu">Sibiu</option>
    </select>
    <br>
    Select Services:<br>
    <select name = "workitem">
        <option type ="text" value="haircut">Haircut</option>
        <option type ="text" value="shave">Shave</option>
        <option type ="text" value="haircutAndShave">Haircut and Shave</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">


    </tr>
</form>


</body>
</html>